ul>li {
	color: green;
}

ul li li {
	color: blue;
}

#red {
	color: red;
}

#orange {
	color: orange;
}

*ol {
	color: #5d5d5d;
}

ul ul li span {
	color: #a0f0fc;
}

ul ul li li span {
	color: #5d5d5d;
}

ul li ul li ol li {
	color: #4597f7;
}

ul li ul li ol li+li {
	color: #5d5d5d;
}