/* @import url(reset.css);*/

.header-red {
	color: red;
}

.autor {
	color: black;
}

* h2 {
	color: yellow;
	background-color: blue;
}

* .article p {
	color: blue;
	background-color: yellow;
}

.article .part3 {
	color: rgb(228, 13, 13);
}

h1 {
	color: darkblue;
}

.persons>p {
	color: rgb(235, 229, 240);
	background-color: rgb(223, 17, 17);
}

.item+li {
	color: darkorange;
}

* .footer {
	color: white;
	background-color: black;
}

#source {
	color: blueviolet;
}