/* @import url(reset.css);*/
@import url(fonts.css);


body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 18px;
	font-style: normal;
	color: #808080;
}

.text500 {
	font-weight: 500;
	font-size: 20px;
	color: #1A1A1A;
}

.header-container {
	font-size: 32px;
	font-weight: 500;
	line-height: 3;
	color: #002603;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
	text-decoration-style: double;
	text-decoration-color: lawngreen;
	text-shadow: 10px -10px 20px red;
}

.text-article {
	font-family: 'beer\ money', fantasy;
	font-size: 20px;
	color: green;
	text-align: left;
}

.text-article h1 {
	font-family: 'a_OldTyperNr', serif;
	font-size: 35px;
	font-style: italic;
	text-shadow: 5px -5px yellow;
	line-height: 2.5;
	text-align: center;
}

h2 {
	font-family: 'a_OldTyperNr', serif;
	font-size: 26px;
	font-style: italic;
	text-shadow: 5px -5px yellow;
	line-height: 2;
	text-align: center;
}

.text-article span {
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: coral;
	letter-spacing: 3px;
}

.items-plants {
	text-align: center;

}

.items-advantages {
	text-align: right;
}

.text-article p {
	text-align: justify;
}

footer a {
	font-family: Arial, sans-serif;
	color: black;
	font-weight: 700;
	text-decoration: underline;

}